<html><head><title>{{ adtitle }}</title></head>
<body bgcolor="#3498db" scroll="no" topmargin="0" leftmargin="0">
<center>
<!-- SpaceID={{ spaceid }} -->

<img src="ad_img/snail.png" width="38" height="38">
</center>
</body>
</html>





