<html>
	<head>
		<title>Escargot - Manage Identities</title>
		<link rel="stylesheet" href="alias/css/style.css" type="text/css">
		<script>
			function ToggleNewAliasDialog(isOn) {
				if (isOn) {
					document.getElementById('new-alias-dialog').style.display = 'block';
					document.getElementById('new-alias-dialog-close').style.display = 'block';
					document.getElementById('new-alias-button').style.display = 'none';
				} else {
					document.getElementById('new-alias-dialog').style.display = 'none';
					document.getElementById('new-alias-dialog-close').style.display = 'none';
					document.getElementById('new-alias-button').style.display = 'block';
				}
			}
			
			function VerifyAliasFormFields() {
				var alias_new = document.forms['aliasCreate']['alias_new'].value;
				
				if (alias_new == '') {
					alert('Alias name field has not been filled out. Please enter in an alias!');
					return false;
				} else if (!/^[0-9a-zA-Z._]+$/.test(alias_new)) {
					alert('Alias contains restricted characters!');
					return false;
				}
			}
			
			function DeleteAlias(alias) {
				doDelete = confirm('Are you sure you want to delete the alias "' + alias + '"?');
				
				if (!doDelete)
					return false;
				
				//setup AJAX
				
				if (window.XMLHTTPRequest) {
					xh = new XMLHTTPRequest();
				} else {
					xh = new ActiveXObject('Microsoft.XMLHTTP');
				}
				
				xh.open('POST', 'alias/cgi/delete_alias', true);
				
				xh.onreadystatechange = function () {
					if (this.readyState == 4) {
						if (this.status == 200) {
							window.location.reload(true);
						} else if (this.status == 500) {
							alert('An error has occured while trying to remove the alias "' + alias + '".');
						}
					}
				};
				
				//now open request to deletion service
				//TODO: `POST` to deletion service doesn't seem to do anything. Look into this later.
				xh.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xh.send('id={{ main_yid }}&alias=' + alias);
			}
		</script>
	</head>
	<body>
		<img src="alias/img/escargot_alt_logo_blue.png" width="150" height="40">
		
		<div class="alias-cmd-board">
			<h1>Manage your Yahoo! Messenger aliases</h1>
			<div class="alias-cmd-board spacer-title"><hr/></div>
			<div class="alias-cmd-board desc-info">Configure your Yahoo! Messenger aliases here to use on Yahoo! Messenger.</div>
			<div class="alias-cmd-board spacer"><hr/></div>
			<div class="alias-cmd-board list" id="alias-list">
{{ alias_tags }}
			</div>
			<div class="alias-cmd-board new-cmd">
				<div class="alias-cmd-board new-alias-dialog" id="new-alias-dialog">
					<a href="javascript:void(0);" onclick="ToggleNewAliasDialog(false)" class="alias-cmd-board new-alias-dialog close" id="new-alias-dialog-close">[x] Close</a>
					<p>Enter in your new alias in the text box below.</p>
					<p>You can only add numbers, letters (uppercase and lowercase), periods, and underscores to your alias, and you cannot take an alias that has already been taken as another alias or Yahoo! ID.</p>
					<form name="aliasCreate" action="alias/cgi/create_alias" onsubmit="return VerifyAliasFormFields()" method="post">
						<input type="hidden" name="id" value="{{ main_yid }}">
						<input type="text" name="alias_new">
						<input type="submit" value="Create Alias">
					</form>
				</div>
				<a href="javascript:void(0);" onclick="ToggleNewAliasDialog(true)" class="alias-cmd-board new-button" id="new-alias-button">New...</a>
			</div>
		</div>
	</body>
	</html>
