				<div class="alias-cmd-board element" id="alias-list-element-{{ alias }}">
					<div class="alias-cmd-board element alias">{{ alias }}</div>
					<div class="alias-cmd-board element actions">
						<a href="javascript:void(0);" onclick="DeleteAlias('{{ alias }}')">Delete</a>
					</div>
					<div class="alias-cmd-board spacer"><hr/></div>
				</div>
