<html>
	<head>
		<title>Escargot - {{ title_msg }}</title>
		<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>
	<body>
		<img src="../img/escargot_alt_logo_blue.png" width="150" height="40">
		<div class="alias-cmd-board">
			<h1>Manage your Yahoo! Messenger aliases</h1>
			<div class="alias-cmd-board spacer-title"><hr/></div>
			<div class="alias-cmd-message"><p>{{ msg }}</p></div>
			<a href="/config/edit_identity?.done=http://messenger.yahoo.com/&.l={{ yid }}" id="alias-go-back-index">Go Back</a>
		</div>
		<style>
			#alias-go-back-index {
				position: relative;
				top: 2em;
			}
		</style>
	</body>
	</html>
