				<div class="alias-cmd-board element" id="alias-list-element-default">
					<div class="alias-cmd-board element alias">You do not have any aliases set.</div>
					<div class="alias-cmd-board spacer"><hr/></div>
				</div>
